.card {
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  min-height: 200px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);

  * {
    margin: 10px 20px;
  }

  label {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
  }

  input {
    padding: 5px;
    font-size: 18px;
    padding: 5px 0;
  }

  h1 {
    margin: 0;
    padding: 30px 50px;
    background-color: purple;
    border-radius: 10px 10px 0 0;
  }

  p {
    font-size: 24px;
    margin: 30px 20px;
  }

  li {
    font-size: 24px;
    padding: 5px 0;
  }
}

.Form-component {
  display: flex;
  flex-direction: column;
}
