@import 'card';
@import 'button';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

.App {
  margin-top: 400px;
  margin-left: 500px;
  margin-right: 500px;
}

button {
  border: 0;
}

li {
  list-style-type: none;
}
